/* header container grid */
.grid-container-mobile {
    display: grid;
    grid-auto-columns: auto  30px 30px  30px 30px 30px;
    grid: gap 1px;
  }
.logo{
      grid-column-start: 1;
      grid-column-end: 4;
      height: 30px;
}
.fav-header{
    grid-column-start: 8;
    grid-column-end: 9;
    height: 30px;
    width: 30px;
}
.notification-header{
    grid-column-start: 9;
    grid-column-end: 10;
    height: 30px;
    width: 30px;
}
.cart-header{
    grid-column-start: 10;
    grid-column-end: 11;
    height: 30px;
    width: 30px;
}

.user-header{
    grid-column-start: 11;
    grid-column-end: 12;
    height: 30px;
    width: 30px;
}

.shop-header{
    grid-column-start: 12;
    /* position: fixed; */
    height: 30px;
    width: 30px;

}

/* search container grid */
.grid-container-search {
    font-family: 'Ruda', sans-serif;
    display: grid;
    grid-auto-columns: 30px auto 30px;
    grid: gap 1px;
}
  .menu{
    font-family: 'Ruda', sans-serif;
      grid-column-start: 1;
      grid-column-end: 2;
      height: 30px;
}
  .toggle-view{
    font-family: 'Ruda', sans-serif;
        grid-column-start: 12;
        height: 30px;
        justify-self: start;
}


/* filters container  */
.filter-container{
    font-family: 'Ruda', sans-serif;
    background-color:#ffff99;
    padding:0.5em;
    margin:0.1 30px 0.1 30px;
}

.product {
    font-family: 'Ruda', sans-serif;
    background-color: white;
    padding: 0 1em;
    overflow: hidden;
    box-shadow: 0 0 1em rgba(0,0,0,0.4);
    margin: 1em 0;
}
  .productTitle{
      font-family: 'Ruda', sans-serif;
      font-size: 1.5em;
}



/* product */
.fav-product{
    height: 15px;
    width: 15px;

}