



/* header container grid */
.grid-container-mobile {
    display: inline-block;
    align-content: left;
 
  }
.logo{
      grid-column-start: 1;
      height: 3em;
}

/* .fav-header{
    transition: all 0.3s ease;
} */

/* search container grid */
.grid-container-search {
  font-family: 'Fira Sans', sans-serif;
  display: grid;
    grid-auto-columns: 3em auto 3em;
    grid: gap 1px;
}
  .menu{
    font-family: 'Fira Sans', sans-serif;
    grid-column-start: 1;
      grid-column-end: 2;
      height: 3em;
}
  .toggle-view{
    font-family: 'Fira Sans', sans-serif;
    grid-column-start: 12;
        height: 3em;
        justify-self: start;
}


/* filters container  */
.filter-container{
  font-family: 'Fira Sans', sans-serif;
  background-color:#ffff99;
    padding: 0.25em 3em 0.25em 3em;
    /* margin:0.1 30px 0.1 5em; */
}

/* checkbox  */
.checkbox2{
    margin: 0 0 0 1em;
}
.checkbox1{
    margin: 0 0 0 0.5em;
}
.checkbox3{
    margin: 0 0 0 2em;

}


/* button format  */
.filterButton{

    display:inline-block;
    height: 2em;
    width: 10em;
    align-self: right;
    background-color: #BA2C2A;
    color: white;
    vertical-align: middle;
    /* padding: 0.5em; */
}


/* product container  */
.product {
  display:grid;
  font-family: 'Fira Sans', sans-serif;
  background-color: white;
    padding: 0 1em;
    overflow: hidden;
    box-shadow: 0 0 1em rgba(0,0,0,0.4);
    margin: 1em 0;
}
  .productTitle{
    font-family: 'Fira Sans', sans-serif;
    font-size: 1.5em;
}

/* product */
.fav-product{
    height: 15px;
    width: 15px;

}
.footer-Container1{
font-family: 'Fira Sans', sans-serif;
background-color: #FCA604;
text-align: center;
overflow: hidden;
font-size: 1.2em;
padding: 1em;
}

.title{
  font-size:2em;
  /* padding:1em; */
}
.white-txt{
font-family: 'Fira Sans', sans-serif;
background-color: #FCA604;
text-align: center;
font-size: 1.5em;
color:white;
overflow: hidden;
padding: 1em;
}

.footer-Container2{
display:grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
font-family: 'Fira Sans', sans-serif;
background-color: #9A6501;
text-align: center;
color:white;    
font: size 1em;
padding:1em;

}
a{
font-size: 0.8em;
color:white;
text-decoration-line: none;
}

.footer-Container3{
display:grid;
grid-template-columns:2fr 2fr 1fr 1fr ;
font-family: 'Fira Sans', sans-serif;
background-color: #472F01;
text-align: left;
color:white;    
font: size 1em;
padding:1em;
}