.singleproduct{


        display:grid;
          font-family: 'Montserrat', sans-serif;
          background-color: white;
          padding: 0 1em;
          overflow: hidden;
          box-shadow: 0 0 1em rgba(0,0,0,0.4);
          margin: 1em 0;
      }
        .productTitle{
          font-family: 'Montserrat', sans-serif;
            font-size: 1.5em;
      }


